.story {
    padding-top: 100px;
    height: 100%;
    @media screen and (max-width: 768px) {
        padding-top: 0;
    }
    .story-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .story-content {
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            .story-content-inner {
                width: 80%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 50px 0;
                    margin-top: 0;
                    h1 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
        }
        .story-images {
            width: 50%;
            height: 100%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            .story-images-inner {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }
                .story-image {
                    margin: 0 auto;;
                    &.one {
                        width: 100%;
                        margin-top: -20px;
                        @media screen and (max-width: 768px) {
                            width: 80%;
                        }
                    }
                    &.two {
                        width: 50%;
                        @media screen and (max-width: 768px) {
                            width: 80%;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}