$white: rgb(253, 246, 246);

.banner {
    @media screen and (max-width: 768px) {
        margin-bottom: -50px;
    }
    .row {
        height: 60vh;
        align-items: space-between;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            height: 50vh;
        }
    }
    .line {
        text-align: center;
    }
    .banner-title {
        color: black;
        font-size: 60px;
        font-weight: 700;
        margin: 0;
        font-family: serif;
        @media screen and (max-width : 768px) {
            font-size: 30px;
        }
    }
    .banner-text {
        color:  black;
        font-family: serif;
        font-size: 18px;
        @media screen and (max-width : 768px) {
            font-size: 16px;
        }
    }
    .spacer {
        height: 200px;
        @media screen and (max-width: 768px) {
            height: 100px;
        }
    }
}